<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Login Page</title>
<link rel="stylesheet" th:href ="@{/css/style.css}">
</head>
<body>
    <form ACTION="validate" method="post">
        <h1>USER LOGIN</h1>
        <label>Email: </label> <input type="email" name="email" placeholder="Enter the email" required /> <br>
        <label>Password: </label> <input type="password" name="password" placeholder="Enter the password" required /> <br>
        <input type="submit" value="LOGIN">
    </form>
</body>
</html>


